<div class="project">
  <h2 class="project-title">SAMPLE PROJECT TITLE</h2>
  <p class="project-description project-description--top">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <br>
  <p class="project-description project-description--bottom">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <img src="assets/images/pi1.jpg" alt="pi" class="project-image project-image--main">
  <img src="assets/images/pi-s1.jpg" alt="pi" class="project-image project-image--left">
  <img src="assets/images/pi-s2.jpg" alt="pi" class="project-image project-image--right">
</div>